<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pycanmessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Models.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PycanMessenger">
        <activity android:name=".Activity.ProfileEditor"></activity>
        <activity android:name=".Activity.NewChat" />
        <activity android:name=".Activity.AddNew" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com/" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="HRW78F396y8HrbHQI9uIPe9tk2032E8EMed0q12k" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="HUBUNIcnJ9nUtGL76GZAZ3glWMKYYTsO9USf4zUC" />
    </application>

</manifest>